<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]>      <html class="no-js"> <!--<![endif]-->
<html>
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<title></title>
		<meta name="description" content="">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<link rel="stylesheet" href="">
		<meta property="og:title" content="<%= link.title %>" >
		<meta property="og:description" content="<%= link.description %>">
		<meta property="og:image" content="<%= link.image %>">
		<meta content="<%= link.color %>" name="theme-color">
	</head>
	<body>
		<!--[if lt IE 7]>
			<p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="#">upgrade your browser</a> to improve your experience.</p>
		<![endif]-->
		<div class="card">
			<h1>Redirecting...</h1>
			<p>Going to <a href="<%= link.destination %>"><%= link.destination%></a>...</p>
			<p>Click the above link if you aren't redirected.</p>
			<noscript>
				<p>Click the link or enable JavaScript. This service is under the GNU AGPL, if that's what you're worried about.</p>
			</noscript>
			<footer>
				<a href="https://github.com/EmeraldSnorlax/bait">Source Code</a>
			</footer>
		</div>
		<script>
			window.location.replace('<%= link.destination %>');
		</script>
	</body>
</html>